* {
  box-sizing: border-box;
}

.img-zoom-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-zoom-lens {
  position: absolute;
  border: 2px solid #d4d4d4;
  width: 40px;
  height: 40px;
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 300px;
  height: 300px;
  margin: 2rem;
}

.metadata_section {
  padding: 1rem 3rem;
}

.metadata_section h4 {
  font-style: italic;
}

aside {
  background-color: dodgerblue;
  border: 2px;
  border-color: black;
  width: 10rem;
  height: 10rem;
  margin: 5rem;
  padding: 2rem;
  border-radius: 2rem;
}

.sketch_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  margin: 0;
  font-family:
    "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua",
    "Georgia,serif";
  max-width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #11101b;
  color: white;
  padding: 2rem 4rem;
}

footer {
  background-color: #11101b;
  color: white;
  padding: 2rem 4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image__large {
  max-width: 50%;
  height: auto;
  margin: 2rem;
}

.column a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image__small {
  max-width: 20rem;
  height: auto;
  margin: 1rem;
}

a .image__small:hover {
  opacity: 0.3;
}

.notes_gallery {
  display: flex;
  flex: 25%;
  vertical-align: middle;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.column {
  display: flex;
  flex: 25%;
  vertical-align: middle;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

@media only screen and (max-width: 770px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 900px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .notes_gallery {
    flex-direction: column;
  }
}
